<nav class="navbar" [ngClass]="navbarscroll?'scroll':'navbar'">
  <a href="index.html"><img src="assets/logo.png" alt="quotes" class="navbar-brand brand1" id="navbar-brand"
      [ngClass]="logo1hide?'hide':'brand1'"></a>
  <a href="index.html"><img src="assets/logo2.jpg" alt="quotes" class="navbar-brand brand2" id="navbar-brand2"
      [ngClass]="logo2show?'show':'brand2'"></a>
  <h1 class="nav-title" [ngClass]="titleblack?'black':'nav-title'">Stellar Quotes</h1>
  <i class="bi bi-search nav-search" [ngClass]="searchscroll? 'nav-search-hide':'nav-search'" (click)="onClick()"></i>
  <i class="bi bi-search search-black-hide" [ngClass]="searchblackscroll? 'search-black-show':'search-black-hide'"
    (click)="onClick()"></i>
  <input type="search" name="search" class="form-control-s search-input" id="search-input" *ngIf="showInput">
</nav>
