<h2 class="quotes-title">Quotes</h2>
<div class="quotes-title-underline"></div>

<div class="quotes-list">
  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                There is something in the unselfish and self-sacrificing love of a brute,
                which goes directly to the heart of him who has had frequent occasion to test the paltry friendship
                and gossamer fidelity of mere Man.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                Life's but a walking shadow, a poor player,
                That struts and frets his hour upon the stage,
                And then is heard no more. It is a tale
                Told by an idiot, full of sound and fury,
                Signifying nothing.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> William Shakespeare </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>


  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                Good,better,best.Never let it rest.
                'Til' your good is better and your better is best.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> St.Jerome </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>


  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                We live on a placid island of ignorance in the midst of black seas of infinity, and it was not meant that we should voyage far.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> H.P Lovecraft </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card" style="letter-spacing: 0.05em;">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                Because I feel that, in the Heavens above,
                The angels, whispering to one another,
                Can find, among their burning terms of love,
                None so devotional as that of 'Mother',
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card" style="letter-spacing: 0.05em;">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                It is the mark of an educated mind to be able to entertain a thought without accepting it.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Aristotle </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                Cowards die many times before their deaths; The valiant never taste of death but once.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> William Shakespeare </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                The true genius shudders at incompleteness — imperfection — and usually prefers silence to saying the
                something which is not everything that should be said.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                Religion is still useful among the herd - that it helps their orderly conduct as nothing else could. The
                crude human animal is in-eradicably superstitious, and there is every biological reason why they should
                be.
                Take away his Christian god and saints, and he will worship something else.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> H.P Lovecraft </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                This above all: to thine own self be true,
                And it must follow, as the night the day,
                Thou canst not then be false to any man.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> William Shakespeare </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                I am above the weakness of seeking to establish a sequence of cause and effect, between the disaster and
                the atrocity.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p style="letter-spacing: 0.05em;">
              <q>
                Uneasy lies the head that wears the crown.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> William Shakespeare </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>


  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                The ninety and nine are with dreams, content but the hope of the world made new,
                is the hundredth man who is grimly bent on making those dreams come true.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>


  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p style="letter-spacing: 0.05em;">
              <q>
                That is not dead which can eternal lie, And with strange aeons even death may die.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> H.P Lovecraft </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p style="letter-spacing: 0.05em;">
              <q>
                It will be found in fact that the ingenious are always fanciful,
                and the truly imaginative never otherwise than analytic.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p style="letter-spacing: 0.05em;">
              <q>
                Maybe if your mind was as open as your mouth, you’d understand that regardless of what anyone wears,
                looks like or sings about;We’re all the same kids fighting for what we believe in and you can never take
                that away
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Chris Motionless </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                Those who dream by day are cognizant of many things which escape those who dream only by night.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p style="letter-spacing: 0.05em;">
              <q>
                People fear what they don't understand
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Chris Motionless </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                I never ask a man what his business is, for it never interests me. What I ask him about are his thoughts
                and dreams.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> H.P Lovecraft </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p style="letter-spacing: 0.05em;">
              <q>
                You can always rinse the surface,but the stain will remain.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Chris Motionless </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                To vilify a great man is the readiest way in which
                a little man can himself attain greatness.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p style="letter-spacing: 0.05em;">
              <q>
                Insanity is relative,it depends on who has locked who in a cage.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Ray Bradbury </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p>
              <q>
                Experience has shown, and a true philosophy will always show,
                that a vast, perhaps the larger, portion of truth arises from the seemingly irrelevant.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Edgar Allan Poe </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>

  <div class="card quotes-card">
    <div class="card-body">
      <div class="card-text">
        <blockquote>
          <cite>
            <p style="letter-spacing: 0.05em;">
              <q>
                Half the fun of the travel is the esthetic of lostness.
              </q>
            </p>
          </cite>
        </blockquote>
        <p> Ray Bradbury </p>
      </div>
      <div class="quote-icons  card-link">
        <i class="bi bi-hand-thumbs-up like"></i>
        <i class="bi bi-hand-thumbs-down unlike"></i>
      </div>
      <button type="button" class="quotes-btn">Delete quote</button>
    </div>
  </div>
</div>
