<div style="position: fixed;width: 100%;;" id="quotes-form">
  <form class="quotes-form">
    <div class="form-group">
      <label for="author">*Enter name of author</label>
      <input type="text" name="author" placeholder="Author..." id="input-author">
    </div>
    <div class="form-group">
      <label for="author">*Enter your name</label>
      <input type="text" name="author" placeholder="Created by..."  id="input-creator">
    </div>
    <div class="form-group">
      <label for="quote">*Enter quote</label>
      <textarea name="quote" placeholder="Enter quote..." id="quote-input"></textarea>
    </div>
    <button type="submit" id="submit-quote">Add quote</button>
  </form>
</div>
