<!-- Header -->
<section class="header">
  <!-- Navigation-bar -->
  <app-navbar></app-navbar>

  <!-- Header-image -->
  <app-header-bg></app-header-bg>

  <!-- Quote card -->
  <app-header-card></app-header-card>

  <!-- Add quote button -->
  <app-header-btn></app-header-btn>
</section>

  <!-- Add quotes form -->
  <section class="Add-quotes-form">
    <app-quote-form></app-quote-form>
  </section>


<!-- About section -->
<section class="about">

  <!-- About body -->
  <app-about-body></app-about-body>
</section>

<!-- Quotes section -->
<section class="quotes">

  <!--  Quotes -->
    <app-quotes></app-quotes>
  </section>

  <!-- Footer section -->
  <section class="footer">
    <app-footer></app-footer>
  </section>
