<!-- Header -->
<section class="header">
  <!-- Navigation-bar -->
  <app-navbar></app-navbar>

  <!-- Header-image -->
  <app-header-bg></app-header-bg>

  <!-- Quote card -->
  <app-header-card></app-header-card>

  <!-- create task button -->
  <app-header-btn></app-header-btn>
</section>

<!-- About section -->
<section class="about">

  <!-- About body -->
  <app-about-body></app-about-body>
</section>

<!-- Quotes section -->
<section class="quotes">

  <!--  Quotes -->
    <app-quotes></app-quotes>
  </section>
