<h2 class="about-title">About the app</h2>
<div class="about-title-underline"></div>
<div class="about-paragraph">
    With stellar quotes app, you can create or generate magnificent quotes listing the author and also your name.There are also existing quotes from authors
    such as Edgar Allan Poe and William Shakespear.
    It exhibits an elegant looking typography easy to use and fast. The app also has an option of downvoting or upvoting any particular quote present;
    You can also delete a quote as well.After creating a quote,the app displays how much time has passed since your quote was created.Utilise the opportunity of developing 
    an astute mind by interacting with our app.
</div>

<img src="assets/Edgar.jpg" class="poe-img" alt="Edgar Allan Poe">
<img src="assets/quote.png" alt="Quote" class="edgar-quote">
